
.logo{
display: flex;
justify-content: center;

}



.center {
  
    display: flex;
    justify-content: center;
    
  }

.slide {    
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    
}

.title{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-bottom: 2vh;

}


.HEAD{
    display: flex;
    justify-content: center;
    font-style: normal;
    color: white;
    
}




.round-images{
    
    
    width: 125px;
    height: 125px;
    object-fit:cover; 
    border-radius: 50%;


}

.cast{

    display: flex;
    justify-content:space-evenly;
    align-items:center;
}



.text{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    
    


    color: white;
}

.button {
    background-color: #000000;
    border: 4px color-mix(in srgb, color percentage, color percentage);
    color: rgb(246, 246, 246);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    
  }

.bottombutton{
    position: fixed;
    bottom: 0%;
    display: flex;
    justify-content: space-evenly;
    width: 98%;

}  

.castclub{

    margin-bottom: 30px;
}

.container{
    position:relative;
    text-align: center;
    color: white;

}





.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 98%;
    height: 296px;
}

.hsimg{
    position: relative;
    margin-top: 2vh;
    height: 300px;
    width: 300px;
    display:flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
   
}



.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin-bottom: 60px;
    margin-top: 30px;
}

:root{
    --index: calc(1vw + 1vh);
    --transition: cubic-bezier(.1, .7, 0, 1);
}
.items{
    display: flex;
    width: 98%;
    justify-content: space-evenly;
    
    perspective: calc(var(--index) * 35);
}

.item{
    width: calc(var(--index) * 4);
    height: calc(var(--index) * 12);
    background-color: #222;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    filter: none brightness(.25);
    transition: transform 1.25s var(--transition), filter 3s var(--transition), width 1.25s var(--transition);
    will-change: transform, filter, rotateY, width;
}

.item::before, .item::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 20px;
    right: calc(var(--index) * -1);
}

.item::after{
    left: calc(var(--index) * -1);
}

.items .item:hover{
    filter: inherit;
    transform: translateZ(calc(var(--index) * 10));
}

.items .item:hover + *{
    filter: inherit;
    transform: translateZ(calc(var(--index) * 8.5)) rotateY(35deg);
    z-index: -1;
}

.items .item:hover + * + *{
    filter: inherit;
    transform: translateZ(calc(var(--index) * 5.6)) rotateY(40deg);
    z-index: -2;
}

.items .item:hover + * + * + *{
    filter: inherit;
    transform: translateZ(calc(var(--index) * 2.5)) rotateY(30deg);
    z-index: -3;
}

.items .item:hover + * + * + * + *{
    filter: inherit;
    transform: translateZ(calc(var(--index) * .6)) rotateY(15deg);
    z-index: -4;
}

.items .item:has( + :hover){
    filter: inherit;
    transform: translateZ(calc(var(--index) * 8.5)) rotateY(-35deg);
}

.items .item:has( + * + :hover){
    filter: inherit;
    transform: translateZ(calc(var(--index) * 5.6)) rotateY(-40deg);
}

.items .item:has( + * + * + :hover){
    filter: inherit;
    transform: translateZ(calc(var(--index) * 2.5)) rotateY(-30deg);
}

.items .item:has( + * + * + * + :hover){
    filter: inherit;
    transform: translateZ(calc(var(--index) * .6)) rotateY(-15deg);
}

.items .item:active, .items .item:focus {
	width: 28vw;
	filter: inherit;
	z-index: 100;
	transform: translateZ(calc(var(--index) * 10));
    margin: 0 .45vw;
}













  