
.logo{
display: flex;
justify-content: center;

}



.center {
  
    display: flex;
    justify-content: center;
    
  }

.slide {    
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    
}

.title{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-bottom: 2vh;

}


.HEAD{
    width: 98%;
    display: flex;
    justify-content: center;
    font-style: normal;
    color: white;
    
}




.round-images{
    
    
    width: 125px;
    height: 125px;
    object-fit:cover; 
    border-radius: 50%;


}

.cast{

    display: flex;
    justify-content:space-evenly;
    align-items:center;
}



.text{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    
    


    color: white;
}

.button {
    background-color: #000000;
    border: 4px color-mix(in srgb, color percentage, color percentage);
    color: rgb(246, 246, 246);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    
  }

.bottombutton{
    position: fixed;
    bottom: 0%;
    display: flex;
    justify-content: space-evenly;
    width: 98%;

}  

.castclub{

    margin-bottom: 30px;
}

.container{
    position:relative;
    text-align: center;
    color: white;

}





.bg {
    position: absolute;
    top: 0;
    left: 1%;
    width: 98%;
    
    height: 296px;
}

.hsimg{
    position: relative;
    margin-top: 2vh;
    height: 300px;
    width: 300px;
    display:flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
   
}



.gallery{

    height: 200px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    white-space: nowrap;
    
    background-color: #000000;
    margin-bottom: 80px;
    

}

.gimg{
    
    width: 143px;
    
    padding-left: 2.5px;
    padding-right: 2.5px;
    height: 200px;
}


#loader{


    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(footergif.gif) no-repeat center;
    z-index: 999;
}









  